@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html[data-theme='light'] {
  background-color: #fff;
  color: #000;
}

html[data-theme='light'] table {
  border-color: #ddd;
}

html[data-theme='light'] th {
  background-color: #f9fafb;
  color: #111;
}

html[data-theme='light'] td {
  border-bottom: 1px solid #ddd;
}

html[data-theme='dark'] {
  background-color: #1d1e20;
  color: #fff;
}

html[data-theme='dark'] table {
  border-color: #444;
}

html[data-theme='dark'] th {
  background-color: #2d3439;
  color: #fff;
}

html[data-theme='dark'] td {
  border-bottom: 1px solid #555;
}

html[data-theme='dark'] tr:hover {
  background-color: #4a5568;
}

html[data-theme='dark'] tr:nth-child(even) {
  background-color: #2d3439;
}

html[data-theme='dark'] tr:nth-child(odd) {
  background-color: #1d1e20;
}

html[data-theme='light'] tr:hover {
  background-color: #f0f0f0;
}

html[data-theme='dark'] th,
html[data-theme='dark'] td {
  padding: 10px;
  text-align: left;
}

html[data-theme='light'] th,
html[data-theme='light'] td {
  padding: 10px;
  text-align: left;
}
